:root{
  --color-slate-white: #FFFFFF;
  --color-slate-100: #FBFBFC;
  --color-slate-200: #F5F5F7;
  --color-slate-300: #ECEEF2;
  --color-slate-400: #E5E5EF;
  --color-slate-500: #CACAD5;
  --color-slate-600: #9999AB;
  --color-slate-700: #838392;
  --color-slate-800: #717182;
  --color-slate-dark: #2A2A31;
  --color-brand-velvet: #803CDA;

  --font-size-heading-3xl: 56px;
  --font-size-heading-2xl: 48px;
  --font-size-heading-xl: 40px;
  --font-size-heading-l: 32px;
  --font-size-heading-m: 24px;
  --font-size-heading-s: 18px;
  --font-size-heading-xs: 16px;
  --font-size-heading-2xs: 14px;
}

body{
  font-family: var(--font-inter);
}