:root {
  --color-slate-white: #ffffff;
  --color-slate-100: #fbfbfc;
  --color-slate-200: #f5f5f7;
  --color-slate-300: #eceef2;
  --color-slate-400: #e5e5ef;
  --color-slate-500: #cacad5;
  --color-slate-600: #9999ab;
  --color-slate-700: #838392;
  --color-slate-800: #717182;
  --color-slate-dark: #2a2a31;
  --color-brand-velvet: #803cda;

  --font-size-heading-3xl: 56px;
  --font-size-heading-2xl: 48px;
  --font-size-heading-xl: 40px;
  --font-size-heading-l: 32px;
  --font-size-heading-m: 24px;
  --font-size-heading-s: 18px;
  --font-size-heading-xs: 16px;
  --font-size-heading-2xs: 14px;
  --font-size-heading-3xs: 12px;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-inter);
}

* {
  box-sizing: border-box;
}
