DATABASE_URL='postgresql://user:password@localhost:5432/newsfoundry'
ANTHROPIC_API_KEY="renseigner votre clé API"
JWT_SECRET_KEY="remplacer par une clé aléatoire"
WORLD_NEWS_API_KEY="renseigner votre clé API"